[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=CoreHR
Type=Application
Terminal=false
Exec=/usr/local/bin/chromiumLaunchers/corehr.sh
Icon=/usr/share/pixmaps/chromium-browser.png
Comment=Provides access to CoreHR via chromium
Categories=Common;
