[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Toolstation Together
Type=Application
Terminal=false
Exec=/usr/local/bin/chromiumLaunchers/ToolstationTogether.sh
Icon=/usr/share/pixmaps/chromium-browser.png
Comment=Toolstation Together
Categories=Common;
